/*-navbar-----*/

.navbar{background-color:#333;
border-bottom:5px solid #e02f2f;
height:60px;

}
.navlogo{
	float:left;
	padding: 15px 0px 0px 12px;
	}
.navbar-brand {
	font-weight:bold;
	font-size:20px;

}

.navbar-brand > a:hover{color:#e02f2f;}
ul>li>a{
	font-size:16px;
	color:#e02f2f;
}

.navbar-default .navbar-nav li a:hover{color:#c53c3c;};
border-color:blue;
}

.navbar-nav{padding: 0px 44px 0px 0px;}
.navbar-toggle{background-color:#e02f2f;}
/*------welcome-----*/
.banner{position:absolute;
margin: 16% 0% 0% 28%;
border:2px  solid #333}
.welcomeban{position:relative;}
.bantext1{ color:#333;
font-size:1.81vw;
text-align:center;
font-family:
}
.bantext2{font-size:3.06vw;
text-align:center;


color:#333}

.bannerimg > .img-responsive {opacity:0.3;
}







/*--------goals-----*/

.goals{padding:44px 0px 44px 0px;
background-color:rgba(33,45,49,0.3);
}


blockquote{padding: 0px 0px 44px 18px;
border-left:5px solid #e02f2f;
border-width:5px;
font-size:20px;}
 .blockquote > h2 {padding: 0px 0px 8px 55px;
color:#e02f2f;
font-weight:338px;
}
.blockquote{padding: 45px 0px 0px 0px;

}
/*--------goals-----*/

/*--------corevalues-----*/
.corevalues{background-color:rgba(51,51,51,0.5;)}
.corehead > h2{text-align:center;}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}




/*---------portfolio-----*/
.portfolio{background-color:#333333;
}

.container{margin:70px;
height:380px;}
.porthead{color:#e02f2f;
text-align:center;
margin-top:45px;
margin-left:72px;}

.ports{margin-top:30px;}

.port1{border:2px solid #e02f2f;
border-radius:8px;
height:auto;
width:



}
.port2{border:2px solid #e02f2f;
border-radius:8px;
height:auto;

}
.port2 > .img-responsive {border-radius:8px;}
.port3{border:2px solid #e02f2f;
border-radius:8px;
height:auto;
}
footer>div{background-color:#333;}



